html,
body{
  font-family: 'Roboto', sans-serif;
  max-height: fit-content;
}

h*{
  font-weight: bold;
}

h2{
  height:1.5em;
}

.header-bar{
  height: 10vh;
  background-image: linear-gradient(to right,rgb(96, 0, 250), rgb(50, 0, 77));
}

.bg-forecast{
  background-color: rgb(58, 65, 88);
}

.bg-forecast img{
  max-width: 25%;
}

#searchHistoryDiv {
  max-height: 50vh;
}

/* width */
::-webkit-scrollbar {
  position: relative;
  right: -10px;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}





