body{
  font-family: 'Roboto', sans-serif;
  
}

h*{
  font-weight: bold;
}

h2{
  height:1.5em;
}

.header-bar{
  height: 10vh;
  background-image: linear-gradient(to right,rgb(96, 0, 250), rgb(50, 0, 77));
}

.bg-forecast{
  background-color: rgb(58, 65, 88);
}

.bg-forecast img{
  max-width: 25%;
}




